body {background-color: gray;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: '#777';
    background: '#777';
}

.nav,
.header {
   text-align: center;
   width: 960px;
   height: 75px;
   margin: 10px 50px 0px 0px; 
   padding: 37px 0px 0px 0px;
   background-color:#ebebeb; 
   color: #777; 
   font-size: 18px;    
}   

#center {
       display: flex;
       flex-direction: row;
       justify-content: start;
       align-items: flex-start;
}

.section {
   text-align: center;
   width: 495px;
   height: 225px;
   margin: 20px 20px 20px 0px;
   padding: 50px 0px 0px 0px;
   background-color: #ebebeb;
   color: #777;
   font-size: 18px;
   
}

.article {
   color: white;
   margin: 20px 10px;
   text-align: center;
   background-color: #777;
   width: 470px;
   height: 150px;
   font-size: 18px;

}

.p,
.h {
   color: #777;
   background-color: #ebebeb;
   width: 455px;
   height: 30%;
   margin: 10px 10px 10px 10px;
   padding: 5px 0px -4px 0px;
   font-size: 18px;

}

.aside {
   text-align: center;
   width: 445px;
   height: 225px;
   margin: 20px 0px 20px 0px;
   padding: 50px 0px 0px 0px;
   background-color: #ebebeb;
   color: #777;
   font-size: 18px;
}
.footer {
   text-align: center;
   width: 960px;
   height: 75px; 
   padding: 37px 0px 0px 0px;
   background-color:#ebebeb; 
   color: #777;
   font-size: 18px;    
}